a :hover{
    text-decoration: none;
}

.nav-item {
	background: #252525;
	display: -webkit-box;
	display: -ms-flexbox;
    display: flex;
    color: white;
    min-width: 100%;
}

.nav-item .nav-depart {
	float: left;
}

.nav-item .nav-depart .depart-btn {

	color: #ffffff;
	padding: 14px 50px 14px 18px;
	cursor: pointer;
	position: relative;
}

.nav-item .nav-depart .depart-btn:hover .depart-hover {
	top: 52px;
	opacity: 1;
	visibility: visible;
	z-index: 99;
}


.nav-item .nav-depart .depart-btn i {
	color: #ffffff;
	font-size: 16px;
}

.nav-item .nav-depart .depart-btn span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 16px;
}

.nav-item .nav-depart .depart-btn .depart-hover {
	position: absolute;
	width: 100%;
	background: #fff;
	left: 0;
	top: 62px;
	opacity: 0;
	visibility: hidden;
	padding-bottom: 29px;
	-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-depart .depart-btn .depart-hover li {
	list-style: none;
}

.nav-item .nav-depart .depart-btn .depart-hover li.active a {
	color: #e7ab3c;
}

.nav-item .nav-depart .depart-btn .depart-hover li a {
	display: block;
	font-size: 16px;
	color: #000000;
	padding-left: 40px;
	padding-top: 16px;
	padding-right: 30px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.nav-item .nav-depart .depart-btn .depart-hover li a:hover {
	color: #e7ab3c;
}

.nav-item .nav-menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    position: relative;
    color:white;
}

.nav-item .nav-menu li {
	list-style: none;
	display: inline-block;
	margin-left: -5px;
	position: relative;
}

.nav-item .nav-menu li.active a {
	background: #e7ab3c;
}

.nav-item .nav-menu li a {
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	border-right: 2px solid #3b3b3b;
	text-transform: uppercase;
	padding: 16px 42px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.nav-item .nav-menu li:hover>a {
	background: #e7ab3c;
}

.nav-item .nav-menu li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 52px;
}

.nav-item .nav-menu li .dropdown {
	position: absolute;
	right: 0;
	top: 82px;
	width: 200px;
	z-index: 99;
	background: #252525;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-menu li .dropdown li {
	display: block;
	margin-left: 0;
}

.nav-item .nav-menu li .dropdown li:hover>a {
	background: transparent;
	color: #e7ab3c;
}

.nav-item .nav-menu li .dropdown li a {
	border-right: 0;
	padding: 13px 20px 12px 30px;
	text-transform: capitalize;
}

.slicknav_menu {
	display: none;
}
.row{
    margin-left: 0px !important;
}   
@media only screen and (min-width: 1200px) and (max-width: 1920px) {
    .nav-item .nav-menu li a {
		padding: 16px 45px 15px;
	}
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-item .nav-menu li a {
		padding: 16px 26px 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav-item .nav-depart .depart-btn {
		padding: 14px 40px 14px 18px;
	}
	.nav-item .nav-menu li a {
		padding: 16px 10px 15px;
    }
}